# Ignore Python bytecode files
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Ignore virtual environment directories
*.venv/
# Ignore virtual environment directories
*.env

# Ignore virtual environment directories
/data
*.json
*.csv